.text-muted {
  color: #999999;
}
.react-bs-table {
  border: none !important;
  margin: 0px !important;
}
.text-sm {
  font-size: 12pt;
}
.text-xs {
  font-size: 10pt;
}
td:focus {
  outline: none;
}
@media (max-width: 600px) {
  .modal-dialog,
  .modal-content {
    min-height: 100vh;
    width: 100vw;
    border: none !important;
    margin: 0px !important;
    border-radius: 0px !important;
    position: fixed;
    top: 0px !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
  }
}
